<h1 style="color: brown;">{{title}}</h1>
<!-- Example of Pipes -->
<h1 style="color: brown;">{{title | uppercase}}</h1>
<h1 style="color: brown;">{{title | lowercase}}</h1>
<h1 style="color: brown;">{{today}}</h1>
<h1 style="color: brown;">{{today | date : 'fullDate'}}</h1>

<h2>{{title | slice :2 : 5 | uppercase}}</h2>
<h2>{{user | json | uppercase}}</h2>
<h2>{{0002000.30000 | number :'3.2-3'}}</h2>
<h2>{{2.30 | number :'3.2-3'}}</h2>
<h2>{{20 | currency :'INR'}}</h2>
<h2>{{50 | currency}}</h2>
<h2>{{100 | currency : 'USD'}}</h2>

<!-- Custom pipes -->
 <p>Example of Custom pipes</p>
 <h2>Dollar to inr: {{20 | usdToInr : 80}}</h2>

<h2 appRedElement >{{directiveTitle}}</h2>

<div class="d1">
    <h2>Please Login to proceed</h2>
    <h4 style="color: red;">Template-Drive forms</h4>
    <form #loginForm="ngForm" (ngSubmit)= "loginForm.form.valid && userLogin(loginForm.controls)">
        <input type="text" required #name="ngModel" pattern="[a-zA-Z]+$" placeholder="Enter your userName" 
            name="name" [ngClass]="{error : name.errors && name.touched}" ngModel>
            <br/><span *ngIf="name.invalid && name.errors && name.touched" style="color: red;">
                <small class="text-danger" *ngIf="name.errors['required']">Name is required</small>
                <small class="text-danger" *ngIf="name.errors['pattern']">Please enter valid name</small>
            </span><br/>
        <input type="password" minlength="2" maxlength="6" required #pass="ngModel" placeholder="Enter your password" 
            name="password" [ngClass]="{error : pass.errors && pass.touched}" ngModel>
            <br/><span *ngIf="pass.invalid && pass.errors && pass.touched" style="color: red;">
                <small class="text-danger" *ngIf="pass.errors['required']">Please enter password</small>
                <small class="text-danger" *ngIf="pass.errors['minlength']">Password should be more than 2 digits</small>
                <small class="text-danger" *ngIf="pass.errors['maxlength']">Password should be max 8 digits</small>
            </span><br/>
        <button [disabled]="loginForm.form.status === 'INVALID'" class="btn">Login</button>
    </form>
</div>

<!-- Reactive froms basic FormControl-->
 <br/>
 <form>
 <h4 style="color: red;">Reactive forms basic form control</h4>
    <label for="name">Name: </label>
    <input type="text" id="name" [formControl]="nameFiled"><br/>
    <p style="color: green;">Value: {{nameFiled.value}}</p>
    <button class="btn" (click)="updateName()">Update name</button>
 </form>

<!-- Reactive form Group Control-->
 <br/>
 <form [formGroup]="profileForm" (ngSubmit)="profileLoginFrom()">
    <h4 style="color: red;">Reactive Grouping form control</h4>
    <label for="first-name">First Name: </label>
    <input type="text" placeholder="Enter first name" name="firstName" formControlName="firstName">
    <br/>
        <span style="color: red;" *ngIf="firstNameValidator?.invalid && firstNameValidator?.touched">
            Enter valid first name!
        </span>
    <br/>

    <label for="last-name">Last Name: </label>
    <input type="text" placeholder="Enter last name" name="lastName" formControlName="lastName">
    <br/>
        <span style="color: red;" *ngIf="lastNameValidator?.invalid && lastNameValidator?.touched">
            Enter valid last name!
        </span>
    <br/>

    <label for="password">Password: </label>
    <input type="password" placeholder="Enter password" name="password" formControlName="password">
    <br/>
        <span style="color: red;" *ngIf="passwordValidator?.invalid && passwordValidator?.touched">
            Enter valid password!
        </span>
    <br/>
    <button class="btn" [disabled]="profileForm.invalid">Login</button>
 </form>