<!-- Adding header component at the Top -->
 <app-header></app-header>
<h2 class="heading">
  Hello, {{title}}
</h2>
<h2 class="heading">
  {{data}}
</h2>
<h3 class="clr">
  This is function call, {{getValue()}}
</h3>
<style>
  .clr{
    color: blue;
  }
</style>

<h2>{{2+2}}</h2>
<h2>{{(3*4)/2*2+2-1}}</h2>

<h1 class="{{title}}">Hello Angular {{title}}</h1>
<h2 class={{title}}>Hello Angular {{title}}</h2>

<!-- Re-using list component -->
 <h1 id="event-binding">Event Binding</h1>
 <div class="group">
  <app-user-list></app-user-list>
 </div>

<app-my-comp></app-my-comp>
<app-employee></app-employee>
<app-student></app-student>

<app-login></app-login>
<!-- Let's make a button & call using function-->
 <button (click)="getName('Intro','name')">click me</button><br/><br/>
 <button (click)="getNameWithAny('name')">press me</button><br/><br/>

 <!-- Creating some events -->
  <button (click)="getData('sufiyan')">call function</button><br/><br/>
  <input type="text" #box (keyup)="getData('box.value')" placeholder="event keyup"><br/><br/>
  <input type="text" #box1 (keydown)="getData('box1.value')" placeholder="event keyDwon"><br/><br/>
  <input type="text" #box2 (keypress)="getData('box2.value')" placeholder="event keypress"><br/><br/>
  <input type="text" #box3 (blur)="getData('box3.value')" placeholder="event blur"><br/><br/>
  <input type="text" #box4 (input)="getData('box4.value')" placeholder="event input"><br/><br/>

  <h3 (mouseover)="getData('mouse over')">Sufiyan take mouseover</h3>
  <h3 ((mouseleave))="getData('mouse leave')">Sufiyan mouse leave</h3>

<!-- Getting text box value and printing it. -->
<!--<input type="text" #key (keyup)="getBoxValue(key.value)" placeholder="Enter name" name="name"> -->
<!-- We can also get this by using button click, use same code like above and change little bit-->
 <input type="text" #key placeholder="Enter name" name="name"><br/><br/>
 <button (click)="getBoxValue(key.value)">click</button>
 <p>
  <b>Value entered are:</b> {{displayVal}}
 </p>

<!-- Making a counter button & increasing & decreasing value -->
  <button (click)="counter('add')">++</button>
  <p>count: {{count}}</p>
  <button (click)="counter('minus')">--</button><br/> <br />

  <!-- Binding property -->
   <input type="text" name="user-name" value={{name}} disabled={{disable}}><br/><br/>
   <input type="text" name="user-name" [value]=name [disabled]=disable><br/><br/>

<!-- If show is true then executre if otherwise else block -->
    @if (show) {
      Now displaying the flag value: <b>{{show}}</b>
    }
    @else {
      <p>Else value of flag is: <b>{{show}}</b></p>
    }

    @if (color === 'red') {
      <h3 style="color: red;">Red color</h3>
    } @else if (color ==='green') {
      <h3 style="color: green;">Green color</h3>
    } @else if (color === 'blue') {
      <h3 style="color: blue;">Blue color</h3>
    } @else {
      <h3 style="color: navy;">Default(Black) color</h3>
    }

<!-- Switch case with latest version -->
 @switch (color) {
  @case ('red') {
    <h3 style="color: red;">Red color</h3>
  } @case ('green') {
    <h3 style="color: green;">Green color</h3>
  } @case ('blue') {
    <h3 style="color: blue;">Blue color</h3>
  } @case ('yellow') {
    <h3 style="color: yellow;">Yellow color</h3>
  }
  @default {
    <h3 style="color: brown;">Default brown color</h3>
  }
 }

<!-- For loop using to iterate array -->
 @for (item of users; track $index) {
  <h3>Name is: {{item}} and index is: {{$index}}</h3>
 }
 @for (item of users; track item) {
  <h4>Name is: {{item}} </h4>
 }
 @for (item of userDetails; track item.name) {
  <h3 style="color: green;">{{item.name}} {{item.email}} {{item.phoneNo}}</h3>
 } @empty {
  <p>Array is empty...</p>
 }

 @for (item of userDetails; track item; let index = $index) {
  <h3 style="color: blue">{{index}}: {{item.name}} {{item.email}} {{item.phoneNo}}</h3>
 }
 @for (item of userDetails; track item; let first = $first, last = $last) {
  <h3 style="color: lightseagreen">{{first}}: {{item.name}} {{item.email}} {{last}}</h3>
 }

<!-- Nested for loop -->
 @for (user of userDetails; track user; let i= $index) {
  <p style="color: green;"><b>Nested for Loop</b></p>
  @for (users of userDetails; track users; let j= $index) {
    <p>{{i+j}} -- {{user.name}} {{users.name}}</p>
  }
 }

<!-- Style Binding example -->
 <h2 [style.color]="colorFlag" [style.backgroundColor]="bgColorFlag"><b>Style Binding example</b></h2>
 <button (click)="updateColor()">update color</button>