<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>Signal</h1>
    <p>create, update, display signal</p>
</div>
<div class="row">
    <div class="col-3">
        {{name()}} -- {{courseName}}
    </div>
    <div class="col-3">
        {{rollNo()}}
    </div>
    <div class="col-3">
        FullName - {{fullName()}}
    </div>
    <div class="col-3">
        {{cityList()}}
    </div>
</div>
<div class="row">
    <div class="col-3 pt-2">
        <button type="button" class="btn btn-success"(click)="changeName()">Change Name</button>
    </div>
    <div class="col-3 pt-2">
        <button type="button" class="btn btn-success"(click)="changeFirstName()">Change First Name</button>
    </div>
    <div class="col-3 pt-2">
        <button type="button" class="btn btn-success"(click)="changeLastName()">Change Second Name</button>
    </div>
    <div class="col-3 pt-2">
        <button type="button" class="btn btn-success" (click)="addCity()">Add City</button>
    </div>
</div>