<h1 style="color: brown;">{{title}}</h1>
<!-- Adding Navbar to test Redirecting -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="user" >User <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user-list" >User_list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="get-api">Get API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-data">Post API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="put-api">Put API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="delete-api">Delete API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="admin">Lazy loading</a>
        </li>
      </ul>
      <form class="d-flex">
        <select [(ngModel)]="selectedRole" name="selectedRole" (ngModelChange)="onRoleChange($event)">
          <option value="">Select Role</option>
          <option value="user">User Role</option>
          <option value="guest">Guest Role</option>
        </select>
        <button class="btn btn-primary" type="submit" (click)="LogOff()">LogOff</button>
        <span style="padding-left: 10px; align-items: center;">{{loggedUserData?.emailId}}</span>
      </form>
    </div>
</nav>

<!-- Example of Pipes -->
<h1 style="color: brown;">{{title | uppercase}}</h1>
<h1 style="color: brown;">{{title | lowercase}}</h1>
<h1 style="color: brown;">{{today}}</h1>
<h1 style="color: brown;">{{today | date : 'fullDate'}}</h1>

<h2>{{title | slice :2 : 5 | uppercase}}</h2>
<h2>{{user | json | uppercase}}</h2>
<h2>{{0002000.30000 | number :'3.2-3'}}</h2>
<h2>{{2.30 | number :'3.2-3'}}</h2>
<h2>{{20 | currency :'INR'}}</h2>
<h2>{{50 | currency}}</h2>
<h2>{{100 | currency : 'USD'}}</h2>

<!-- Custom pipes -->
 <p>Example of Custom pipes</p>
 <h2>Dollar to inr: {{20 | usdToInr : 80}}</h2>

<h2 appRedElement >{{directiveTitle}}</h2>

<div class="d1">
    <h2>Please Login to proceed</h2>
    <h4 style="color: red;">Template-Drive forms</h4>
    <form #loginForm="ngForm" (ngSubmit)= "loginForm.form.valid && userLogin(loginForm.controls)">
        <input type="text" required #name="ngModel" pattern="[a-zA-Z]+$" placeholder="Enter your userName" 
            name="name" [ngClass]="{error : name.errors && name.touched}" ngModel>
            <br/><span *ngIf="name.invalid && name.errors && name.touched" style="color: red;">
                <small class="text-danger" *ngIf="name.errors['required']">{{validationMessage.NAME_REQUIRED}}</small>
                <small class="text-danger" *ngIf="name.errors['pattern']">{{validationMessage.VALID_NAME}}</small>
            </span><br/>
        <input type="password" minlength="2" maxlength="6" required #pass="ngModel" placeholder="Enter your password" 
            name="password" [ngClass]="{error : pass.errors && pass.touched}" ngModel>
            <br/><span *ngIf="pass.invalid && pass.errors && pass.touched" style="color: red;">
                <small class="text-danger" *ngIf="pass.errors['required']">{{validationMessage.PASSWORD_REQUIRED}}</small>
                <small class="text-danger" *ngIf="pass.errors['minlength']">{{validationMessage.MIN_LENGTH}}</small>
                <small class="text-danger" *ngIf="pass.errors['maxlength']">{{validationMessage.MAX_LENGTH}}</small>
            </span><br/>
        <button [disabled]="loginForm.form.status === 'INVALID'" class="btns">Login</button>
    </form>
</div>

<!-- Reactive froms basic FormControl-->
 <br/>
 <form>
 <h4 style="color: red;">Reactive forms basic form control</h4>
    <label for="name">Name: </label>
    <input type="text" id="name" [formControl]="nameFiled"><br/>
    <p style="color: green;">Value: {{nameFiled.value}}</p>
    <button class="btns" (click)="updateName()">Update name</button>
 </form>

<!-- Reactive form Group Control-->
 <br/>
 <form [formGroup]="profileForm" (ngSubmit)="profileLoginFrom()">
    <h4 style="color: red;">Reactive Grouping form control</h4>
    <label for="first-name">First Name: </label>
    <input type="text" placeholder="Enter first name" name="firstName" formControlName="firstName">
    <br/>
        <span style="color: red;" *ngIf="firstNameValidator?.invalid && firstNameValidator?.touched">
            Enter valid first name!
        </span>
    <br/>

    <label for="last-name">Last Name: </label>
    <input type="text" placeholder="Enter last name" name="lastName" formControlName="lastName">
    <br/>
        <span style="color: red;" *ngIf="lastNameValidator?.invalid && lastNameValidator?.touched">
            Enter valid last name!
        </span>
    <br/>

    <label for="password">Password: </label>
    <input type="password" placeholder="Enter password" name="password" formControlName="password">
    <br/>
        <span style="color: red;" *ngIf="passwordValidator?.invalid && passwordValidator?.touched">
            Enter valid password!
        </span>
    <br/>
    <button class="btns" [disabled]="profileForm.invalid">Login</button>
 </form>

<!-- Adding router functionality -->
 <h3 style="color: green;">Added Router</h3>
 <a routerLink="user">User</a> <br />
 <a routerLink="user-list">User_list</a><br /><br />

 <!-- Doing Dynamic routing -->
  <p style="color: red; font-size: 20px;">Dynamic routing example:</p>
 <a routerLink="user/10">user1</a> <br />
 <a routerLink="user/20">user2</a> <br />
 <a routerLink="user/30">user3</a> <br />

 <!-- Lazy loading example -->
 <ul>
  <li>
    <a routerLink="admin/login">login</a>
  </li>
  <li>
    <a routerLink="admin/nUser">nUser</a>
  </li>
 </ul>
 
 <router-outlet></router-outlet>
 
<!-- Displaying functionality of ng-container -->
<app-ngcontainer></app-ngcontainer>
<app-view-child></app-view-child>

<!-- Displaying signal -->
 <app-signal></app-signal>
<!-- Accessing data from service class -->
 <h3 style="color: green;">--- Accessing data from service class ---</h3>
 <p>
  @for (item of dataForUser; track $index) {
    <ul>
      <li>{{item.name}}, {{item.age}}, {{item.email}}</li>
    </ul>
  }
</p>

<!-- Added footer -->
 <app-footer></app-footer>