<p>----- Post Api -----</p>
<form #userForm="ngForm" (click)="onSave()">
    <div style="padding-left: 5px;">
        <input type="text" [(ngModel)]="userObj.userId" name="userId" placeholder="Enter userId" /><br /><br/>
        <input type="text" [(ngModel)]="userObj.id" name="id" placeholder="Enter id" /><br /><br/>
        <input type="text" [(ngModel)]="userObj.title" name="title" placeholder="Enter title" /><br /><br/>
        <input type="text" [(ngModel)]="userObj.body" name="body" placeholder="Enter body" /><br /><br/>
    </div>
    <div style="padding-left: 15px;">
        @if (userObj.id == 0) {
            <button class="btn btn-success" (click)="onSave()">Submit form</button><br/><br />
        }@else {
            <button class="btn btn-warning" (click)="OnUpdate()">Update</button><br/><br />
        }
    </div>
</form>

<div class="card-body">
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>UserId</th>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Body</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of userDataFromPost; track $index) {
                        <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.userId}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.title}}</td>
                            <td>{{item.body}}</td>
                            <td><button class="btn btn-primary" (click)="OnEdit(item)">Edit</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
